.container {
  display: flex;
  padding: auto;
  /* margin-top: auto; */
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh; /* Set the height to occupy the full viewport height */
}

h2 {
  margin-top: 259px;
  text-align: center;
}

form {
  display: flex;
  padding: 15px;;
  flex-direction: column;
  background-color: rgb(242, 232, 232); ;
}

label {
  margin-bottom: 10px;
}

input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: rgb(53, 3, 6);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #670908;
}

.balance {
  text-align: center;
  margin-bottom: 20px;
}

#balance {
  font-weight: bold;
  
}
